body {
  /* background-color: #556271!important; */
  font-family: 'Montserrat', sans-serif;
    background: #222229 !important;
    margin: 0;
    max-height: 100vh;
    overflow: hidden;
}

/* Nav Bar */
.navTitle {
  font-size: 0.75em;
}

.navHeader{
  font-family: 'Montserrat', sans-serif;
}

.navLinks {
  position: absolute;
  right: 0;
  font-size: 0.75em;
  margin-right: 10%;
}

/* About Page */

.brand {
  margin-left: 1%;
}

.icons {
  margin: 10px auto;
  transform: scale(2);
}

.aboutImg {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.imgWrap {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  /* animation: fade 0.9s ease-in; */
}

.aboutTitle, .portfolioTitle {
  color: White;
  padding: 10px;
  /* animation: fade 0.9s ease-in; */
}

@keyframes twinkle {
  0% {
    opacity: 0.15;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.15;
  }
}

.aboutMeContainer {
  margin: 0 auto;
}

.bioSection {
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 10px;
  /* animation: fade 0.9s ease-in; */
}

.cardsSection {
  padding: 10px;
  /* animation: fade 0.9s ease-in; */
}

.reactIcon {
  margin: 10px auto;
  transform: scale(2);
}

.aboutContainer {
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 0.75em;
}

/* Portfolio Section */

.portfolioBtn {
  margin: 5px;
}

.portfolioImg {
  padding: 10px
}

.portfolioContainer {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.technologyUsed {
  color: white;
  margin: 10px auto;
  transform: scale(2);
}

/* Contact Section */

.contactLink {
  margin: 10px;
  transform: scale(2);
  color: white
}

.contactForm {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75em;
}

@media only screen and (max-width: 1000px) {
  
  .navLinks {
    position: inherit;
    text-align: right;
  }

  .navTitle {
    display: block;
  }

  .aboutCard {
    margin-bottom: 20px
  }

}

@media only screen and ( min-width: 1300px) {
  
  .navLinks {
    margin-right: 20%
  }

}